<div class="table-container">
    <table class="styled-table">
    <thead>
    <tr>
    <th>Full Name</th>
    <th>Department Name</th>
    <th>Number of Dependants</th>
    <th>Number of Projects</th>
    <th>Hours</th>
    <th></th>
    <form action="/employees" method="POST">
        <select name="sortOption">
            <option value="">---</option>
            <option value=1>Sort by name ascending</option>
            <option value=2>Sort by name descending</option>
            <option value=3>Sort by hours ascending</option>
            <option value=4>Sort by hours descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>

    <form action="/employees" method="POST">
        <select name="departmentFilter">Clear Sort
            <option value="">---</option>
            <option value="Administration">Administration</option>
            <option value="Engineering">Engineering</option>
            <option value="Finance">Finance</option>
            <option value="Headquarters">Headquarters</option>
            <option value="Marketing">Marketing</option>
            <option value="Model">Model</option>
            <option value="Research">Research</option>
        </select>
        <button type="submit">Filter</button>
    </form>
    <form action="/employees" method="POST">
        <input name="searchQuery" placeholder="Employee Search"></input>
        <button type="submit">Search</button>
    </form>
    <form action="/employees/export" method="POST">
        <button type="submit" name="exportCSV" value="1">Export to CSV</button>
    </form>
    <form>
        <button type="submit" formaction="/employees/clear_filters" formmethod="post">Reset Filters</button>
    </form>
    </tr>
    </thead>
    <tbody>
                {% if employees %}
                    {% for emp in employees %}
    <tr>
    <td>{{ emp[0] }}</td>
    <td>{{ emp[1] }}</td>
    <td>{{ emp[2] }}</td>
    <td>{{ emp[3] }}</td>
    <td>{{ emp[4] }}</td>
    <td>{{ emp[5] }}</td>
    </tr>
                    {% endfor %}
    
                {% else %}
    <tr>
    <td colspan="5" class="no-data">No employees found matching your criteria.</td>
    </tr>
    
                {% endif %}
    </tbody>
    </table>
    </div>
    
     