<div class="table-container">
    <table class="styled-table">
    <thead>
    <tr>
    <th>Project Name</th>
    <th>Owning Department Name</th>
    <th>headcount</th>
    <th>Total Assigned Hours</th>
    <th></th>
    <form action="/portfolio" method="POST">
        <select name="sortOption">
            <option value=1>Sort by headcount ascending</option>
            <option value=2>Sort by headcount descending</option>
            <option value=3>Sort by total hours ascending</option>
            <option value=4>Sort by total hours descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    </tr>
    </thead>
    <tbody>
                {% if projects %}
                    {% for p in projects %}
    <tr>
    <td><a href="projects/{{ p[1] }}">{{ p[0] }}</a></td>
    <td>{{ p[2] }}</td>
    <td>{{ p[3] }}</td>
    <td>{{ p[4] }}</td>
    </tr>
                    {% endfor %}
    
                {% else %}
    <tr>
    <td colspan="5" class="no-data">No projects found matching your criteria.</td>
    </tr>
    
                {% endif %}
    </tbody>
    </table>
    </div>
    
     